* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf9f6;
  font-family: arial;
  max-width: 1500px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;

}
.icons {
  height: auto;
  color: blue;
  cursor: pointer;
  transform: scale(1);
}
.icons:hover {
  transform: scale(1.1);
}
